@font-face {
  font-family: 'clproperty-fontello';
  src: url('../font/fontello.eot?37950046');
  src: url('../font/fontello.eot?37950046#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?37950046') format('woff2'),
       url('../font/fontello.woff?37950046') format('woff'),
       url('../font/fontello.ttf?37950046') format('truetype'),
       url('../font/fontello.svg?37950046#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37950046#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "clproperty-fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: unset;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rt-icon-motel:before { content: '\e800'; } /* '' */
.icon-rt-icon-phone2:before { content: '\e801'; } /* '' */
.icon-rt-icon-phone-line:before { content: '\e802'; } /* '' */
.icon-rt-icon-phone-line2:before { content: '\e803'; } /* '' */
.icon-rt-icon-play:before { content: '\e804'; } /* '' */
.icon-rt-icon-plus-line:before { content: '\e805'; } /* '' */
.icon-rt-icon-property:before { content: '\e806'; } /* '' */
.icon-rt-icon-property2:before { content: '\e807'; } /* '' */
.icon-rt-icon-quotes:before { content: '\e808'; } /* '' */
.icon-rt-icon-quotes2:before { content: '\e809'; } /* '' */
.icon-rt-icon-quotes3:before { content: '\e80a'; } /* '' */
.icon-rt-icon-search-line:before { content: '\e80b'; } /* '' */
.icon-rt-icon-share-line:before { content: '\e80c'; } /* '' */
.icon-rt-icon-shop-line:before { content: '\e80d'; } /* '' */
.icon-rt-icon-support:before { content: '\e80e'; } /* '' */
.icon-rt-icon-twitter-solid:before { content: '\e80f'; } /* '' */
.icon-rt-icon-user-line:before { content: '\e810'; } /* '' */
.icon-rt-icon-user-line2:before { content: '\e811'; } /* '' */
.icon-rt-icon-verified:before { content: '\e812'; } /* '' */
.icon-rt-icon-villa:before { content: '\e813'; } /* '' */
.icon-rt-icon-web:before { content: '\e814'; } /* '' */
.icon-rt-icon-whatsapp-solid:before { content: '\e815'; } /* '' */
.icon-rt-icon-youtube-solid:before { content: '\e816'; } /* '' */
.icon-rt-icon-angel-down-tiny:before { content: '\e817'; } /* '' */
.icon-rt-icon-angel-left-tiny:before { content: '\e818'; } /* '' */
.icon-rt-icon-angel-right-tiny:before { content: '\e819'; } /* '' */
.icon-rt-icon-apartments:before { content: '\e81a'; } /* '' */
.icon-rt-icon-arrow-right:before { content: '\e81b'; } /* '' */
.icon-heart-empty:before { content: '\e81c'; } /* '' */
.icon-rt-icon-awards:before { content: '\e81d'; } /* '' */
.icon-rt-icon-awards2:before { content: '\e81e'; } /* '' */
.icon-rt-icon-bath-area:before { content: '\e81f'; } /* '' */
.icon-rt-icon-bath-line:before { content: '\e820'; } /* '' */
.icon-rt-icon-bed-line:before { content: '\e821'; } /* '' */
.icon-rt-icon-calendar:before { content: '\e822'; } /* '' */
.icon-rt-icon-certified:before { content: '\e823'; } /* '' */
.icon-rt-icon-check-line:before { content: '\e824'; } /* '' */
.icon-rt-icon-clock:before { content: '\e825'; } /* '' */
.icon-rt-icon-commercial:before { content: '\e826'; } /* '' */
.icon-rt-icon-compare-line:before { content: '\e827'; } /* '' */
.icon-rt-icon-email:before { content: '\e828'; } /* '' */
.icon-rt-icon-experiences:before { content: '\e829'; } /* '' */
.icon-rt-icon-facebook-solid:before { content: '\e82a'; } /* '' */
.icon-rt-icon-fax:before { content: '\e82b'; } /* '' */
.icon-rt-icon-filter-line:before { content: '\e82c'; } /* '' */
.icon-rt-icon-grid:before { content: '\e82d'; } /* '' */
.icon-rt-icon-heart-line:before { content: '\e82e'; } /* '' */
.icon-rt-icon-home:before { content: '\e82f'; } /* '' */
.icon-rt-icon-hotel:before { content: '\e830'; } /* '' */
.icon-rt-icon-hotel2:before { content: '\e831'; } /* '' */
.icon-rt-icon-instagram-solid:before { content: '\e832'; } /* '' */
.icon-rt-icon-land:before { content: '\e833'; } /* '' */
.icon-rt-icon-listing-line:before { content: '\e834'; } /* '' */
.icon-rt-icon-list-view:before { content: '\e835'; } /* '' */
.icon-rt-icon-location2:before { content: '\e836'; } /* '' */
.icon-rt-icon-location-line:before { content: '\e837'; } /* '' */
.icon-rt-icon-location-line-2:before { content: '\e838'; } /* '' */
.icon-rt-icon-location-solid:before { content: '\e839'; } /* '' */
.icon-rt-icon-message:before { content: '\e83a'; } /* '' */
.icon-rt-icon-message2:before { content: '\e83b'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
